/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/******************************************
/* LAYOUT
/*******************************************/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #ff6600;
    -moz-transition: background-color .5s; /* Firefox */
    -webkit-transition: background-color .5s; /* Safari and Chrome */
    -o-transition: background-color .5s; /* Opera */
    transition: background-color .5s;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #ff6600;
    -moz-transition: background-color .5s; /* Firefox */
    -webkit-transition: background-color .5s; /* Safari and Chrome */
    -o-transition: background-color .5s; /* Opera */
    transition: background-color .5s;
}

.intro-block{
    background: #000000;
    padding: 100px 15px 60px;
    color: #fff;
}

.text-muted{
    color: grey;
    font-size: 100;
  }

  .info{
    background: #ffa753 url(../images/skyline.png) repeat-x bottom;
    padding: 80px 0;
}
.info small{
    color: #eeefe9;   
}
.info a{
    color: #fff;   
}
.info a:hover{
    color: #333;   
}
.tab-pane{
    padding: 40px 10px 0 10px;
}

.marketing{
    background-color: #e9e6df;   
}

.tpad{
    padding-top: 20px;
}
.padded{
    padding: 100px 15px;
}

.marketing hr{
  border-top: 1px solid #c9c9c9; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}
.masthead-video-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 1;
}
.masthead-arrow {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
}
h1 {
    position: absolute;
    width: 100%;
    font-weight: 700;
    font-size: 110px;
    text-align: center;
    height: 120px;
    line-height: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
h1 span {
    display: block;
    font-size: 18px;
    letter-spacing: 0.43em;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 7px;
    opacity: 0.5;
}


